.btn{
    height: 50px;
    background: white;
    width:30%;
    border:20px rgb(255, 255, 255);
    border-radius: 20px;
    font-size: larger;
    margin-left: 10px;
}

.txt{
    align-self: center;
}

.wrapper
{
    width: max-content;
    text-align: center;
    backdrop-filter: blur(30px);
    border-radius: 40px;
    box-shadow:0 0 10px;
    padding: 30px 40px;
    margin-top: 50px;
}

.input-box
{
    background: transparent;
    position: relative;
}

input
{
    height:100%;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
}

.btn:hover
{
    background: rgb(40, 40, 40);
    color: white;
    height: 50px;
    width: 30%;
}

select
{
    height:100%;
    background: transparent;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    padding: bottom 5px;
    padding-left: 10px;
}

option
{
    width:100%;
}
.main
{
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
}

.link{
    color: rgb(240, 239, 245);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: x-large;
    padding: 5px 100px;
    border: 1px solid white;
    margin-right: 20px;
}

.link:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}

.ul{
    text-align: left;
}

.Tailspin{
    background-color: #ffffffb7;
    height: 350px;
    width: 500px;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    padding-top: 160px;
}

.span{
    font-size: 26px;
    color: #0e0d0d;
}

.wrapperFORM
{
    border: 2px solid;
    border:2px solid rgba(255, 255, 255 0.2);
    color: white;
    margin: 50px auto;
    width: 600px;
    backdrop-filter: blur(30px);
    border-radius: 40px;
    box-shadow:0 0 10px;
    padding: 30px 40px;
}

.txtarea{
    background-color: transparent;
    height: 30px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 18px;
}

input[type='radio']{
    width: 18px !important;
    height: 18px;
}

.opt{
    font-size: x-large;
    color: black;
}