.nav-bar{
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center
}

.navlink{
    text-decoration: none;
    font-weight: 500;
    font-size: x-large;
    color: black;
    margin-top: 17px;
    margin-left: 50px;
}

.navlink:hover{
   color: rgb(175, 173, 173);
}
